@model IEnumerable<MongoDBTrainingExercise.Models.ViewModels.CourseViewModel>;

@{
    ViewData["Title"] = "Students";
}

<div class="text-left">
    <h2 class="display-4 my-4">List of Courses</h2>
</div>

<table class="table table-condensed mt-4"
    <thead>
        <tr>
            <th>Course Id</th>
            <th>Course Name</th>
            <th>Category</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
                    <tr>
                        <td>
                @Html.DisplayFor(m => item.courseId)
                        </td>
                        <td>
                @Html.DisplayFor(m => item.name)
                        </td>
                        <td>
                @Html.DisplayFor(m => item.category)
                        </td>
                    </tr>
    }
    <tr>
</table>
